
body{ margin: 0%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(249, 249, 249);
transition:0.5s;
}
div{
  position: absolute;
  background: red;
}
.top-title{
font-size: 2em;
color: red;
border: 2px solid gray;
padding: 5%;
margin: 5%;
position: absolute;
}
a { text-decoration: none; }
